data/embeddingMatrixGolve6b100.npy
data/glove.6B.100d.txt
data/movie_conversations.txt
data/movie_lines.txt
data/testInputs.txt
data/testTargets.txt
data/trainInputs.txt
data/trainTargets.txt
test.py
test2.py
sampleInferences.txt
data/word2idx.pkl
trainedModels/desktop.ini
*.pyc
fbAppEX.py